<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Anuj/Desktop/restassuured/RestAssuredProject/src/test/java/APIChaining">
        <classes>
            <class name="APIChaining.CreateUser"><methods><include name="testCreateUser"/></methods></class>
            <class name="APIChaining.UpdateUser"><methods><include name="test_updateUser"/></methods></class>
            <class name="APIChaining.GetUser"><methods><include name="test_getUser"/></methods></class>
            <class name="APIChaining.DeleteUser"><methods><include name="test_deleteUser"/></methods></class>
        </classes>
    </test>
</suite>